.img-art-secondary {
  height: 50%;
  object-fit: contain;
}
.card-secondary {
  max-height: 300px;
  height: 100%;
}
.img-art-primary {
  height: 50vh;
  object-fit: contain;
}

.cursor {
  cursor: pointer;
}
